@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

body {
    font-size: 18px;
    font-family: "barlow";
}

.bg-blue {
    background-color: hsl(168, 34%, 41%) !important;
}

.container-fluid {
    max-width: 1680px !important;
}

/* navbar */

.nav-text {
    color: white !important;
}

.nav-text:hover {
    color: hsl(51, 100%, 49%) !important;
}

@media only screen and (max-width: 575px) {
    .nav-text {
        color: hsl(198, 62%, 26%) !important;
    }

    .nav-text:hover {
        color: hsl(51, 100%, 49%) !important;
    }
}

.nav-button {
    border-radius: 30px !important;
    font-size: 12px !important;
}

.nav-button:hover {
    background-color: hsl(51, 100%, 49%) !important;
    color: white !important;
    transition: 0.3s;
}

/* header */

.bg-image-header {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.arrow-icon {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 4%;
}

@media only screen and (max-width: 768px) {
    .arrow-icon {
        top: 55% !important;
    }
}

@media only screen and (max-width: 600px) {
    .bg-image-header {
        height: 100vh;
    }
    .arrow-icon {
        /* top: 55% !important; */
        width: 8% !important;
    }
}

.header-text {
    letter-spacing: 10px;
}

@media only screen and (max-width: 576px) {
    .bg-sm-light {
        background: #fdf7ed;
        padding: 10px;
        text-align: center;
        margin: auto;
        align-items: center;
    }
    .btn-light {
        background-color: hsl(51, 100%, 49%) !important;
        border-color: hsl(51, 100%, 49%) !important;
    }
}

.bg-bisque {
    background-color: #fdf7ed;
}

@media only screen and (max-width: 768px) {
    .photo-column {
        height: 30rem;
    }
}
